<h2><%= title %></h2>
<ul>
  <% items.forEach(item => { %>
    <li>
      <form action="/category" method="post">
        <%= item.name %>
        <input type="hidden" name="_id" value="<%= item._id %>" />
        <input type="hidden" name="_method" value="delete" />
        <button>Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

